@{
    ViewBag.Title = "Index";
}
<form method="post">
    <ul>
        <li><a href="Default/Create">Create</a></li>
        <li><a href="Default/Edit">Edit</a></li>
        <li><a href="Default/ShowAll">ShowAll</a></li>
    </ul>
</form>