@{
    ViewBag.Title = "Index Page";
}
<div class="jumbotron">
    <h3>Perform Actions!</h3>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-success" onclick="window.location.href='/Default/Create'">Create</button>
        <button class="btn btn-success" onclick="window.location.href='/Default/Edit'">Edit</button>
        <button class="btn btn-success" onclick="window.location.href='/Default/ShowAll'">Show All</button>
    </div>
</div>