@model List<MvcDemo.Models.Student>
    @{
        ViewBag.Title = "Show All";
    }

<h3>List Of Detail</h3>
    <table border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roll No.</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var std in Model)
            {
                <tr>
                    <td>@std.FName</td>
                    <td>@std.LName</td>
                    <td>@std.RollNo</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    @Html.ActionLink("Back To lIst","Index")
                </td>
            </tr>
        </tfoot>
</table>


